* {
    margin:1;
    padding:0;
    line-height: 0;
}

body {
    background-image: url(bg.jpg);
    text-align:center;
}

.container {
    width:600px;
    margin:auto;
    border:10px solid white;
    overflow:auto
}

.thumb {
    width:200px;
    float:left;
    border:2px solid white;
    box-sizing: border-box
}

.thumb:hover{
    opacity:0.5;
    cursor:pointer;
}

@keyframes fadeIn {
    to {
        opacity:1;
    }   
}

.fade {
    opacity:0;
    animation:fadeIn 2s forwards;
}

.active {
    opacity:0.5;
}